* {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #D9D9D9; 
}

#display_page {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

h1, h2 {
  font-family: 'Spectral', serif; 
}

main {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;  
}

main, footer {
  font-family: 'Karla', sans-serif; 
}

#main_page {
  padding: 5%; 
  justify-content: space-evenly; 
}

.logo {
  display: flex; 
  justify-content: center; 
  width: 90%; 
  align-self: center; 
}

img {
  height: auto; 
  max-width: 100%; 
}

.main_header { 
  text-align: center; 
  margin-top: 3%; 
}

.main_header h1{
  font-size: 36px; 
}

#main_page p {
  line-height: 1.6;
  text-align: center; 
  margin-bottom: 12%; 
}

.duo {
  color: #8C6E7D;
  text-shadow: 2px 2px black;
}

#main_page div {
  margin-right: 20%; 
  margin-left: 20%; 
}

.start_button {
  display: block;
  text-align: center; 
  text-decoration: none; 
  color: black; 
  background-color: #F2F2F2;
  border: 2px solid #8C8B8B;
  border-radius: 18px; 
  padding: 3%; 
  transition: all .1s linear;
  cursor: pointer;  
}

.start_button:hover {
  background-color: #8C6E7D;
  border: 1px solid #8C6E7D;
}

.start_button:active {
  transform: translateY(3px);
}

.display_header {
  display: flex; 
  flex-direction: column; 
  align-content: center;
  margin-left: 5%; 
}

.display_header h1 {
  font-size: 38px; 
}

.display_logo {
  align-self: center; 
  margin-top: 10%; 
  width: 60%; 
}

.input_form {
  display: flex; 
  flex-direction: column; 
  position: relative; 
  margin-right: 5%; 
  margin-left: 5%;
}

.input_form label {
  margin-bottom: 3%; 
}

select {
  font-size: 12px; 
  margin-left: 3%; 
  cursor: pointer; 
}

.input_text {
  resize: none; 
  font-size: 12px; 
  width: 100%; 
  margin-top: 5%; 
  margin-bottom: 1%; 
}

.translate_button {
  align-self: center; 
  width: 30%; 
  margin-top: 5%;  
  border: 1px solid #8C8B8B;
  background-color: #F2F2F2; 
  border-radius: 15px; 
  font-size: 12px; 
  padding: 2% 5%; 
  transition: background-color .1s linear;
  cursor: pointer; 
}

.translate_button:hover {
  background-color: #8C6E7D;
  border: 1px solid #8C6E7D; 
}

.translate_button:active {
  transform: translateY(3px);
}

#available, #unavailable {
  line-height: 0; 
  float: left; 
  margin-top: 10%; 
  margin-right: 3%; 
  color: #8C6E7D;  
  font-size: 45px; 
}

#available {
  color: #8C6E7D;
}

#unavailable {
  color: #8C8A8B;
}

.definitions {
  margin-top: 10%; 
  margin-bottom: 5%; 
  margin-left: 5%; 
  margin-right: 5%; 
  line-height: 1.6; 
}

.hidden {
  display: none; 
}

.container {
  display: flex;
  flex-direction: column; 
  margin-top: 5%; 
  margin-bottom: 25%; 
}

.container_yandex, .container_google {
  margin-right: 5%;
  margin-left: 5%;  
}

.container_yandex {
  margin-top: 10%; 
}

.translate_box {
  background-color: #FFFFFF;
  box-shadow: 2px 2px #8C8B8B; 
  height: 150px;
  margin-top: 5%;
}

.translation {
  padding: 3%; 
}

.linked_word {
  text-decoration: none; 
  color: black; 
  transition: background-color .2s linear; 
}

.linked_word:hover {
  background-color: yellow; 
}

.linked_word:visited {
  color: purple; 
}

.translate_link {
  text-decoration: none; 
  color: black;
  margin-left: 5%;  
}

footer {
  display: flex;
  background-color: #8C6E7D;
}

.icons { 
  align-self: center; 
  margin-left: 0; 
  padding: 0; 
  margin-right: 20%; 
  list-style: none; 
  display: flex; 
  flex-direction: row;
}

li {
  margin-right: 10%; 
}

ul:first-child {
  margin-left: 15%; 
}

.fab { 
  font-size: 28px; 
  color: #434142; 
  width: 100%; 
  transition: all .1s linear; 
}

.fab:hover {
  color: #5A5859;
  transform: translateY(-3px);
}

.about_link { 
  align-self: center; 
  font-size: 16px;  
  text-decoration: none; 
  color: #2D2B2C; 
  margin-top: 5%; 
  margin-bottom: 5%; 
}

.about_link:active {
  color: purple; 
}

@media only screen and (min-width: 375px) {

  select {
    width: 50%; 
  }

  #available, #unavailable {
    margin-top: 8%;   
  }

  .translate_button {
    margin-bottom: 3%;
  }

  .definitions {
    margin-top: 6%; 
  }
}

@media only screen and (min-width: 425px) {

  #main_page div {
    margin-right: 30%; 
    margin-left: 30%; 
  }

  .display_logo {
    width: 50%; 
  }

  select {
    width: 30%; 
  }

  .input_text {
    font-size: 16px; 
    height: 100px; 
  }

  .translate_button {
    border-radius: 20px; 
  }

  #available, #unavailable {
    margin-top: 7%; 
  }

  .container {
    margin-top: 0%; 
    margin-bottom: 20%; 
  }

  .translation {
    font-size: 16px; 
  }

  .icons {
    margin-right: 22%; 
  }

  li {
    margin-right: 10%; 
  }

  ul:first-child {
  margin-left: 6%; 
  }
}

@media only screen and (min-width: 495px) {

  .display_header {
    flex-direction: row; 
    justify-content: flex-start; 
    margin-bottom: 10%; 
    margin-left: 0%; 
    border-bottom: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-bottom: 2px solid #8C6E7D;
  }

  .display_logo {
    align-self: inherit;
    margin-top: 5%; 
    margin-left: 3%; 
    margin-bottom: 3%; 
    width: 25%; 
  }

  .display_header h1 {
    margin-top: 5%; 
    margin-left: 5%; 
  }

  .input_form {
    margin-right: 8%; 
    margin-left: 8%; 
  }

  .definitions {
    margin-bottom: 3%; 
    margin-right: 15%; 
    margin-left: 10%;
  }

  .definitions span {
    margin-bottom: 1%; 
  }

  .container {
    margin-top: 3%; 
  }

  .container_yandex, .container_google {
    margin-right: 8%;
    margin-left: 8%; 
  }

  .translate_link {
    margin-left: 0; 
  }

  .fab {
    font-size: 32px; 
  }
}

@media only screen and (min-width: 587px) {

  #main_page div {
    margin-right: 35%; 
    margin-left: 35%; 
  }

  .main_header h1 {
    font-size: 42px; 
  }

  #main_page p {
    margin-bottom: 10%; 
  }

  .display_header {
    margin-bottom: 5%; 
  }

  .translate_button {
    width: 22%; 
  }

  .definitions {
    margin-top: 4%; 
  }

  #available, #unavailable {
    margin-top: 3%; 
  }

  .container {
    margin-bottom: 15%; 
  }

  .container_yandex {
    margin-top: 6%; 
  }

  .icons {
    margin-right: 26%; 
  }
}

@media only screen and (min-width: 768px) {

  .display_logo {
    width: 20%; 
    margin-top: 2%; 
    margin-bottom: 1%; 
  }

  .display_header h1 {
    margin-top: 3%; 
    margin-left: 2%; 
  }

  .input_form { 
    margin-top: -1%; 
  }

  select {
    width: 20%; 
  }

  .form_box {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 0; 
  }

  .input_text { 
   margin-top: 2%; 
  }

  .form_box p {
    align-self: center; 
    margin-bottom: 0; 
    margin-right: 15%; 
    padding-bottom: 1.2%
  }

  .translate_button {
    position: absolute;  
    right: 80%;
    bottom: 0%; 
    width: 15%;  
    padding: 1% 3%; 
    margin-bottom: 0; 
  }

  .definitions {
    margin-top: 2%; 
    margin-bottom: 0%; 
  }

  .container {
    margin-top: 0; 
    margin-bottom: 8%; 
  }

  .container_yandex {
    margin-top: 3%; 
  }

  #available, #unavailable {
    margin-top: 2.5%; 
  }

  .translate_link {
    font-size: 16px; 
  }

  ul:first-child {
    margin-left: 10%; 
  } 

   .about_link {
    margin-top: 1%; 
    margin-bottom: 1%; 
  }
}

@media only screen and (min-width: 900px) {

  .input_form label {
    margin-bottom: 1%; 
  }

  .input_text {
    margin-top: 2%; 
    margin-bottom: 0; 
  }

  .form_box p {
    margin-right: 20%; 
  }

  #available, #unavailable {
    margin-top: 2%; 
    margin-right: 1%; 
  }
}

@media only screen and (min-width: 1024px) {

  #main_page div {
    margin-right: 40%; 
    margin-left: 40%; 
  }

   #main_page p {
    margin-right: 10%;
    margin-left: 10%; 
    margin-bottom: 5%; 
  }

  .display_logo {
    margin-top: 1.3%; 
    margin-bottom: 1%; 
    margin-left: 5%; 
    width: 15%; 
  }

  .display_header h1 {
    margin-top: 1.8%; 
    margin-left: 2%; 
  }

  .input_form {
    margin-top: -2%; 
  }

  .input_text {
    height: 150px; 
  }

  .translate_button {
    right: 83%; 
    width: 15%;  
    padding: 1% 3%;  
  }

  #available, #unavailable {
    margin-top: 1.8%; 
    margin-right: 1%; 
  }

  .container { 
    margin-top: 2%;
    flex-direction: row; 
  }

  .container_google, .container_yandex {
    width: 50%; 
    height: 14em; 
  }

  .container_google {
    margin-right: 2%; 
  }

  .container_yandex {
    margin-top: 0;
    margin-left: 2%; 
  }

  .translate_box {
    height: 12em;
  }

  ul:first-child {
    margin-left: 11%; 
  } 

  .about_link {
    font-size: 20px; 
  }
}

@media only screen and (min-width: 1250px) {

  #main_page p {
    margin-right: 18%;
    margin-left: 18%; 
  }

  .display_header h1 {
    margin-top: 2.3%; 
    margin-left: .8%; 
  }

  .input_form {
    margin-top: -1%; 
  }

  select {
    width: 15%;
    margin-left: 1%;  
  }

  .translate_button {
    right: 85%; 
    width: 12%; 
  }

  .definitions {
    margin-top: 3%; 
  }

  #available, #unavailable {
    margin-top: 1.3%; 
  }

  .container_google, .container_yandex {
    height: 14em; 
  }

  .translate_box {
    height: 12em; 
  }

  footer {
    margin-top: -1.2%;
  }

  ul:first-child {
    margin-left: 13%; 
  }
}

@media only screen and (min-width: 1400px) {

  
  #main_page p {
    margin-right: 22%;
    margin-left: 22%; 
  }

  .display_logo {
    width: 10%; 
  }

  .display_header h1 {
    margin-top: 1.8%; 
  }

  .input_form {
    margin-top: -2%; 
  }

  .translate_button {
    width: 12%; 
  }

  footer {
    margin-top: 0; 
  }

  ul:first-child {
    margin-left: 14.5%; 
  }
}

@media only screen and (min-width: 1800px) {

   #main_page p {
    margin-right: 28%;
    margin-left: 28%; 
    margin-bottom: 3%; 
  }

  #main_page div {
    margin-right: 45%; 
    margin-left: 45%; 
  }

  .translate_button {
    right: 88%; 
    width: 10%;  
    padding-top: 1%;
    padding-bottom: 1%; 
    border-radius: 30px; 
  }

  .container_google, .container_yandex {
    border: 1px solid black; 
    height: 25em; 
    margin-bottom: 10%;
  }

  .translate_box {
    height: 20em; 
  }

  ul:first-child {
    margin-left: 17.5%; 
  } 
  
   #available, #unavailable {
    margin-top: .9%; 
    margin-right: 1%; 
  }
}
 