* {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;  
}

main {
  display: flex;
  flex-direction: column; 
}

#main_page {
  padding: 5%; 
  height: 100%; 
  justify-content: center; 
}

#main_page p {
  margin-bottom: 20%; 
}

.main_header { 
  text-align: center; 
  margin-bottom: 8%; 
}

.start_button {
  text-decoration: none; 
  display: block;
  text-align: center; 
  border:1px solid black;
  border-radius: 10px; 
  padding: 3%; 
}

.input_form {
  display: flex; 
  flex-direction: column; 
  margin-right: 5%; 
  margin-left: 5%;
}

.input_text {
  margin-top: 5%; 
  margin-bottom: 5%; 
}

.buttons {
  padding: 0% 5%; 
}

.display {
  display: flex;
}

.translate_box {
  border: 1px solid black; 
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;  
}

.translation {
  padding: 3%; 
}

.translate_link {
  text-decoration: none; 
  color: black;
  margin-left: 5%;  
}

.clear_translations {
  margin: 10%; 

}

footer {
  display: flex;
  justify-content: center; 
  position: absolute;
  bottom: 0; 
  width: 100%; 
  border-top: 1px solid black; 
  margin-top: 5%;   
  margin-bottom: 0;  
}

.about_link {
  text-decoration: none; 
  display: inline-block;
  margin-top: 5%; 
  margin-bottom: 5%; 
  
}